@function n($a){
    @return $a/46.875+rem;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height:100%;  
    text-decoration: none;
    list-style: none;
    overflow-y: hidden;
}
a:nth-of-type(1){
    display: none;
}
.box{
    width:100%;
    height:auto;
    min-height: n(1500);
    padding-bottom: n(40);
    background: -webkit-linear-gradient( bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    background: -o-linear-gradient( bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    background: -moz-linear-gradient( bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    background: linear-gradient(to  bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    // background: url(../images/bg.png) no-repeat;
    // background-size: 100% 100%;
  
}
.btm{
    position: fixed;
    width: 100%;
    height: n(120);
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/bg2.png) no-repeat;
    background-size: 100% 100%;
}
.alert_share{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.595);
    .share{
        width: n(591);
        height: n(736);
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        img{
            width: 100%;
            height: n(624);
        }
        button{
            width: n(275);
            height: n(84);
            border: none;
            outline: none;
            &:nth-of-type(1){
                margin-left: n(15);
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
}
}

.san{
    widows: 100%;
    display: none;
    .top{
        width: 100%;
        height:n(77);
        position: relative;
        p{
            &:nth-of-type(1){
                font-size: n(58);
                position: absolute;
                top: n(30);
                left: n(289);
                width: n(189);
                color: #fff;
                font-family: '黑体';
                font-weight: bold; 
            }
            &:nth-of-type(2){
                font-size: n(25);
                position: absolute;
                top: n(51);
                right: n(20);
                width: n(189);
                color: #fff;
                font-family: '黑体';
            }
        }
    }
    .jindu{
        width: n(571);
        height: n(26);
        border-radius: n(30);
        border: n(3) solid #1378a0;
        margin-top: n(50);
        margin-left: n(46);
        position: relative;
        .tiao{
            width: 10%;
            height: 100%;
            box-sizing: border-box;
            background-color: #fff221;
            border: n(4) solid #3dadc9;
            border-radius: n(30);
        }
        .fen{
            font-size: n(26);
            color: #fff221;
            position: absolute;
            top:n(-3);
            right:n(-70);
        }
    }
    .dati{
        width: n(657);
        height:n(608);
        padding: n(80) 0;
        margin:  n(112) auto 0;
        background: #fff;
        border-radius: n(30);
        position: relative;
        .yuan_box{
            width: n(137);
            height: n(137);
            background: #fff;
            position: absolute;
            top: n(-60);
            left: n(261);
            border-radius: 50%;
            .yuan{
                width: n(116) !important;
                height: n(116) !important;
                canvas{
                    width: n(116) !important;
                    height: n(116) !important;
                    font-size: n(30) !important;
                    margin-left: n(10);
                    margin-top: n(10);
                }
            }
        }
    }
    .huida{
        width: n(569);
        height: n(167);
        margin:  0 auto;
        .timu{
            font-size: n(37);
        }
        button{
            width: 100%;
            height: n(96);
            border: 1px solid #949494;
            border-radius: n(46);
            font-size: n(28);
            text-align: left;
            box-sizing: border-box;
            color: #3e3e3e;
            padding-left: n(53);
            margin-bottom: n(35);
            background-color:#fff;
            position: relative;
            img{
                width: n(46);
                height: n(35);
                position: absolute;
                right: n(44);
                top: n(30);
                z-index: 3;
            }
            &:nth-of-type(1){
                margin-top: n(55);
            }
        }
    }
    .alert_{
        width: 100%;
        height:100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        background: rgba(0, 0, 0, 0.452);
        display: none;
        .alert{
            width: n(653);
            height: n(804);
            margin:  n(191) auto 0;
            background: #fff;
            position: relative;
            border-radius: n(20);
            &>img{
                width: n(105);
                height: n(104);
                border-radius: 50%;
                margin-top: n(34);
                margin-left: n(276);
            }
            .user{
                width: 100%;
                height: auto;
                color: #000;
                font-size: n(36);
                font-weight: bold;
                text-align: center;
                margin: n(20) 0;
            }
            .tongji{
                width: 100%;
                height: n(69);
                color: #5e5e5e;
                font-size: n(28);
                text-align: center;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: n(62);
            }
            .shu{
                width: 100%;
                height: n(34);
                line-height: n(36);
                float: left;
                margin-bottom: n(42);
                img{
                    width: n(32);
                    height: n(34);
                    float: left;
                    margin-left: n(61);
                }
                span{
                    float: left;
                    font-size: n(30);
                    font-weight: bold;
                    color: #000;
                    margin-left: n(10);
                    &:nth-of-type(2){
                        float: right;
                        margin-right: n(64);
                    }
                }
            }
            .shi{
                width: n(431);
                height: n(96);
                font-size: n(40);
                color: #fff;
                margin:  0 auto;
                background: #53d8d5;
                position: absolute;
                bottom: n(80);
                left: n(110);
                border: none;
                border-radius: n(60);
                outline: none;
            }
        }
    }
}
.zqda{
    position: absolute;
    top: n(178);
    left: n(80);
    font-size: n(59);
    color: #fff;
}
.jibai{
    position: absolute;
    top: n(205);
    right: n(64);
    color: #fff;
    font-size: n(26);
}
.dui_color{
    background: #ff6c38 !important;
    color: #fff !important;
    img{
        display: block !important;
    }
}
.cuo_color{
    background:  rgb(9, 184, 9) !important;
    color: #fff !important;
}
button{
    outline: none;
}
