@function n($a){
    @return $a/46.875+rem;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;  
    text-decoration: none;
    background: -webkit-linear-gradient( bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    background: -o-linear-gradient( bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    background: -moz-linear-gradient( bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    background: linear-gradient(to  bottom, #41c4e1,#4b95ee,#4b95ee,#4b95ee);
    // background: url(../images/bg.png) no-repeat;
    // background-size: 100% 100%;
    background-attachment: fixed;
}
.box{
    width:100%;
    height:100%;
    a{
        color: #fff;
    }
    // background: url(../images/bg.png) no-repeat;
    // background-size: 100% 100%;
}
.chuti{
    width: 100%;
    height: auto;
    // display: none;
    header{
        width:100%;
        padding-top: n(20);
        position: relative;
        height: n(80);
        text-align: center;
        font-size: n(58);
        font-weight: bold;
        color: #fff;
        span{
            font-weight: 100;
            font-size: n(27);
            position: absolute;
            top: n(60);
            right: n(40);
        }
    }
    .timu{
        border: none;
        border-radius:n(20);
        background: #fff;
        box-sizing: border-box;
        padding:  n(30);
        width: n(651);
        height: n(345);
        margin: n(30) 0 0 n(50);
        font-size: n(31);
        outline: none;
    }
    li{
        list-style: none;
        width: n(654);
        height: n(96);
        margin:  0 auto;
        border:  1px solid #fff;
        border-radius: n(60);
        outline: none;
        line-height: n(96);
        position: relative;
        margin-bottom: n(34);
        &:nth-of-type(1){
            margin-top: n(40);
        }
        span{
            color: #fff;
            font-size: n(37);
            margin-left: n(40);
        }
        input{
            width: n(480);
            font-size: n(37);
            position: absolute;
            top: n(0);
            left: n(60);
            height:103%;
            border: none;
            text-align: center;
            background: transparent;
            outline: none;
            color: #fff;
            padding-left: n(40);
        }
    }
    .footer{
        width: 100%;
        height: n(59);
        position: relative;
        top: n(40);
        span{
            color: #fff;
            font-size: n(30);
            margin-left: n(109);
        }
        p{
            width: n(59);
            height: n(59);
            position: absolute;
            border:  1px solid #fff;
            border-radius: 50%;
            text-align: center;
            line-height: n(59);
            font-size: n(30);
            color: #fff;
            top: n(-10);
            &:nth-of-type(1){
                left: n(359);
            }
            &:nth-of-type(2){
                left: n(471);
            }
            &:nth-of-type(3){
                left: n(579);
            }
        }
        .active{
            background: #fff;
            color: #000;
        }
        button{
            width:n(309);
            height: n(96);
            border-radius: n(60);
            outline: none;
            color: #fff;
            font-size: n(30);
            border: none;
            position: absolute;
            top: n(100);
            &:nth-of-type(1){
                left: n(50);
                background: #53d8d5;
            } 
            &:nth-of-type(2){
                left: n(390);
                background: #FF6C38;
            }
        }
    }
}
.yulan{
    width: 100%;
    height:100%;
    display: none;
    header{
        width: 100%;
        height: n(62);
        color: #fff;
        font-size: n(60);
        text-align: center;
        padding-top: n(40);
    }
    .main{
        width: n(652);
        background: #fff;
        border-radius: n(30);
        margin:  n(50) auto 0;
        margin-top: n(200);
        box-sizing: border-box;
        padding: n(60);
        p{
            font-size: n(32);
            color: #000;
        }
        li{
            height: n(96);
            border-radius: n(60);
            color: #000;
            font-size: n(30);
            list-style: none;
            background: #fff;
            line-height: n(96);
            padding-left: n(40);
            border: 1px solid #c3c3c3;
            margin-bottom: n(30);
            &:nth-of-type(1){
                margin-top: n(60);
            }
        }
    }
    .da{
        color: #fff;
        font-size: n(30);
        margin-left: n(156);
        margin-top: n(30);
    }
    button{
        width: n(651);
        height: n(96);
        border-radius: n(60);
        color: #fff;
        font-size: n(30);
        border: 1px solid #fff;
        background: transparent;
        margin-left: n(50);
        margin-top: n(49);
        margin-bottom: n(30);
    }
}
.alert_chenggong{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: n(12);
    display: none;
    z-index: 20;
    &>div{
        background: #fff;
        width: n(582);
        height: n(579);
        margin-top: n(170);
        margin-left: n(83);
        img{
            width: 100%;
            height: n(400);
        }
        p{
            width: 100%;
            height: auto;
            text-align: center;
            font-size:n(30);
            color: #7a7a7a;
        }
        button{
            width: n(431);
            height: n(96);
            border:1px solid #44c8c5;
            font-size: n(37);
            color: #fff;
            background: #53d8d5;
            border-radius: n(60);
            margin-left: n(70);
            margin-top: n(49);
            outline: none;
        }
    }
}
.alert_shibai{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: n(12);
    display: none;
    z-index: 20;
    &>div{
        background: #fff;
        width: n(582);
        height: n(579);
        margin-top: n(170);
        margin-left: n(83);
        img{
            width: 100%;
            height: n(400);
        }
        p{
            width: 100%;
            height: auto;
            text-align: center;
            font-size:n(30);
            color: #7a7a7a;
        }
        button{
            width: n(431);
            height: n(96);
            border:1px solid #44c8c5;
            font-size: n(37);
            color: #fff;
            background: #53d8d5;
            border-radius: n(60);
            margin-left: n(70);
            margin-top: n(49);
            outline: none;
        }
    }
}
input[type=text]::-webkit-input-placeholder{
    color:#276fb2;
}
.shuoming{
    width: 100%;
    height: 100%;
    background: #fff;
    img{
        width: n(422);
        height: n(98);
        margin-left:n(160);
        margin-top: n(49);
        margin-bottom: n(50);
    }
    p{
        width: 93%;
        height: auto;
        font-size: n(32);
        color:#000;
        box-sizing: border-box;
        padding-left: n(57);
        margin-bottom: n(30);
        line-height: n(50);
        span{
            color: #9f9f9f;
        }
    }
}