@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.64rem;
}

html, body, .main {
  height: 100%;
}

.header {
  display: flex;
  margin: 0 0.64rem;
  border-radius: 0.21333rem;
  border: 0.04267rem solid #ccc;
  overflow: hidden;
  margin-top: 4.26667rem;
}

.header li {
  line-height: 1.06667rem;
  flex: 1;
  text-align: center;
  background: #3CDFDA;
  box-sizing: border-box;
  font-size: 0.68267rem;
  color: #fff;
  line-height: 1.32267rem;
}

.header .active {
  color: #47A7E9;
  background: #fff;
}

.logo {
  background: url("../imgs/logo.png");
  height: 0.85333rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.42667rem;
}

.user_msg {
  margin-top: 0.42667rem;
  margin-bottom: 0.42667rem;
  color: red;
  background: #F8F8F8;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
}

.user_msg .scroll {
  position: absolute;
  background: #F8F8F8;
}

.user_msg span {
  margin-left: 20px;
}

.user_msg span:before {
  content: '🚩 ';
}

.anTitle {
  padding: 0 0.64rem;
}

.anTitle .anLogo {
  display: inline-block;
  width: 4.69333rem;
  height: 1.06667rem;
  background: url("../imgs/anHow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.anTitle .participateNum {
  float: right;
  font-size: 0.512rem;
  color: #6D6D6D;
}

.anTitle .participateNum b {
  font-size: 0.512rem;
  font-weight: 400;
  color: #4999E9;
}

.canvasjs-chart-credit, .canvasjs-chart-credit {
  display: none !important;
}
