* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body {
  height: 100%;
  text-decoration: none;
  background: #fff;
}

.box {
  height: 100%;
  padding-top: 0.21333rem;
  padding-bottom: 0.42667rem;
}

.main {
  background: #fff;
  margin: 0.42667rem auto;
  border-radius: 0.64rem;
  padding-bottom: 1.28rem;
}

.main .item {
  height: 6.48533rem;
  width: 49.5%;
  display: inline-block;
  margin-bottom: 0.64rem;
}

.main .item:nth-of-type(even) {
  margin-left: 1%;
}

.main .item img {
  width: 100%;
  height: 4.94933rem;
  margin-top: 0.64rem;
}

.main .item p {
  height: auto;
  font-size: 0.61867rem;
  color: #1E1E1E;
  text-indent: 10px;
}

.alert_toupiao {
  height: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  z-index: 10;
  border-radius: 0.42667rem;
  display: none;
}

.alert_toupiao .cha {
  width: 1.06667rem;
  height: 1.06667rem;
  position: absolute;
  top: 0.32rem;
  right: 0.32rem;
  z-index: 999;
}

.alert_toupiao .cha img {
  width: 100%;
  height: 100%;
}

.alert_toupiao > p {
  width: 90%;
  height: 1.38667rem;
  color: #44257e;
  font-size: 0.64rem;
  line-height: 1.38667rem;
  margin-top: 0.576rem;
  margin-left: 0.42667rem;
  font-weight: bold;
}

.alert_toupiao .video_msg {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
}

.alert_toupiao .video_box {
  height: 9.17333rem;
  overflow: hidden;
}

.alert_toupiao .video_box video {
  width: 100%;
  height: 100%;
}

.alert_toupiao li {
  list-style: none;
  padding-left: 0.64rem;
  padding-right: 0.42667rem;
}

.alert_toupiao .pianshu {
  width: 5.12rem;
  height: 0.78933rem;
  font-size: 0.68267rem;
  color: red;
  margin: 0 auto;
  font-weight: bold;
}

.alert_toupiao .pianshu img {
  width: 0.704rem;
  height: 100%;
  float: left;
  margin-right: 0.42667rem;
}

.alert_toupiao button {
  width: 13.44rem;
  height: 1.92rem;
  border: none;
  border-radius: 1.28rem;
  font-size: 0.68267rem;
  margin-top: 0.46933rem;
  margin-left: 1.06667rem;
  outline: none;
  border: 1px solid #44c8c5;
  color: #fff;
  background: #44c8c5;
}

h1 {
  font-size: 0.64rem;
  line-height: 1.49333rem;
  padding-left: 0.64rem;
}

.cont {
  margin-top: 9.6rem;
}

.cont_list {
  padding-left: 0.64rem;
}

.cont_list > div {
  display: flex;
  margin-top: 0.42667rem;
}

.cont_list > div .imgs {
  flex: 1;
}

.cont_list > div .imgs img {
  width: 100%;
  height: 3.41333rem;
}

.cont_list > div .imgs_msg {
  flex: 1.3;
  font-size: 0.64rem;
  padding-left: 0.64rem;
}

.li_title {
  line-height: 1.49333rem;
  font-weight: 700;
  color: #1E1E1E !important;
  font-size: 0.66133rem !important;
}

.li_msg {
  font-size: 0.576rem !important;
  color: #848484 !important;
  margin-bottom: 0.21333rem;
}

.cont_more {
  background: #F2F2F2;
  font-size: 0.68267rem;
  color: #919191;
  text-align: center;
  width: 14.93333rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  margin: 1.06667rem auto;
}
