@function n($a){
    @return $a/46.875+rem;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #616161;
}
html,body{
    height: 100%;
}
.a{
    color: #616161 !important;
}
.table_list{
    padding: n(50);
    #first_table{
        text-align: center;
        line-height: n(40);
        tr{
            td{
                border-top: 1px solid #EAEAEA;
                border-right: 1px solid #EAEAEA;
                color: #616161;
                line-height: n(80);
                font-size: n(26);
            }
            span{
                display: inline-block;
                width: n(60);
                height: n(60);
                border-radius: 50%;
                overflow: hidden;
                float: left;
                margin-left: n(90);
                margin-top: n(10);
                margin-right: n(10);
                img{
                    width: 100%;
                }
            }
            div{
                float: left;
            }
        }
        tr:first-child{
            td{
                border-top: 0px;
            }
            td:first-child,td:nth-child(2){
                color: #000;
                color: #616161;
            }
        }
        tr:nth-child(2){
            td{
                color: #FF6C38 !important;
                div{
                    color: #FF6C38;
                }
            }
        }
        tr{
            td:last-child{
                border-right: 0px;
            }
            td:first-child{
                color: #E8B20A;
                width: 15%;
            }
            td:nth-child(2){
                width: 50%;
            }
            td:last-child{
                color:  #FF6C38;
                width: 22%;
                span{
                    padding: n(4) n(26);
                    color: #fff;
                    background: #FF7529;
                    border-radius: n(20);
                    font-size: n(24);
                }
                
            }
        }
    }
}