@function n($a){
    @return $a/46.875+rem;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: n(30)
}
html,body{
    height: 100%;
}
h1{
    font-weight: 400;
    line-height: n(150);
    text-indent: n(30);
}
ul{
    li{
        display: flex;
        width: n(600);
        margin: 0 auto;
        line-height: n(70);
        span{
            flex: 1;
            text-align: center;
            border: n(2) solid #EAEAEA;
            color: #616161;
        }
        span:nth-child(even){
            color: #E8B20A;
            position: relative;
            &:before{
                content:'';
                background-image: url('../images/bonus.png');
                display: inline-block;
                background-size: 100%;
                background-repeat: no-repeat;
                width: n(22);
                height: n(28);
                position: absolute;
                top: n(21);
                left: n(80);
            }
        }
        span:nth-child(odd){
            border-right: 0;
        }
    }
    li:nth-child(n+2){
        span{
            border-top: 0;
        }
    }
}
h2{
    font-weight: 400;
    float: right;
    margin-right: n(50);
    color: #FF6C38;
    font-size: n(32);
    margin-top: n(30);
    span{
        margin: 0 n(6);
        font-size: n(33);
    }
}