@function n($a){
    @return $a/46.875+rem;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
a:nth-of-type(1){
    display: none;
}
.box{
    width:100%;
    height:100%;
    min-height: n(1380);
    padding-top: n(25);
}
.top{
    width: n(575);
    height: n(70);
    margin-left: n(34);
    background: #34186e;
    border-radius:n(10);
    position: relative;
    input{
        width: 84%;
        height:90%;
        border: none;
        background: transparent; 
        padding-left: n(20);
        padding-top: n(8);
        color: #fff;
        outline: none;
    }
    input[type=number]::-webkit-input-placeholder{
        color:#ba95f1;
    }
    img{
        width: n(40);
        height: n(40);
        margin-top: n(15);
        margin-right: n(20);
        float: right;
    }
    span{
        color: #fff;
        font-size: n(31);
        position: absolute;
        top: n(10);
        right: n(-90);
    }
}
.main{
    width: n(712);
    height:auto;
    padding-bottom: n(20);
    background: #fff;
    margin:  n(20) auto 0;
    border-radius:n(20);
    .load{
        text-align: center;
        padding:  n(40);
    }
    .item{
        width:46%;
        height: n(390);
        display: inline-block;
        margin-top: n(20);
        position: relative;
        .mengcheng{
            width: n(315);
            height: n(227);
            border-radius: n(20);
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(37, 37, 37, 0.192);
        }
        .xuhao{
            width: n(30);
            height: n(30);
            font-size: n(36);
            color: #fff;
            text-align: center;
            position: absolute;
            top:n(10);
            left: n(10);
        }
        .fenxiang{
            position: absolute;
            width: n(38);
            height: n(32);
            top: n(4);
            right: n(22);
            z-index: 2;
            img{
                width: 100%;
                height:100%;
            }
        }
        &:nth-child(odd){
            margin-left: n(24);
        }
        button{
            width: n(147);
            height: n(59);
            border-radius:n(30);
            border:1px solid red;
            font-size: n(27);
            outline: none;
            margin-top: n(13);
            &:nth-of-type(1){
                background: #fff;
                color: red;
                margin-left: n(4);
            } 
            &:nth-of-type(2){
                background: red;
                color:#fff;
            } 
        }
        &>img{
            width: n(315);
            height: n(227);
            border-radius: n(20);
        }
        p{
            width: n(208);
            height: n(36);
            font-size: n(26);
            line-height: n(36);
            color: #5e5e5e;
            margin-bottom: n(5);
            width:94%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:nth-of-type(1){
                margin-top: n(10);
            }
        }
        .zan{
            width: n(104);
            height: n(30);
            font-size: n(29);
            color: #ff2828;
            position: absolute;
            top: n(254);
            right: n(-10);

            img{
                width: n(30);
                height: n(30);
                float: left;
            }
            span{
                float: left;
                margin-left: n(10);
            }
        }
    }
}
.kong{
    width: 100%;
    height: n(80);
    text-align: center;
    color: #000;
    line-height: n(100);
}
.alert_toupiao{
    width: 97%;
    margin-top: n(30);
    height: n(1295);
    position: absolute;
    top: n(50);
    left: n(12);
    background: #fff;
    z-index: 10;
    border-radius: n(20);
    display: none;
    .guan{
        width: n(50);
        height: n(50);
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: n(10);
        right: n(10);
        img{
            width: 100%;
            height: 100%;
        }
    }
    &>p{
        width: 90%;
        height: n(65);
        color: #44257e;
        font-size: n(30);
        line-height: n(65);
        margin-top: n(27);
        margin-left: n(20);
        font-weight: bold; 
    }
    .video_box{
        width: n(693);
        height: n(389);
        margin:  0 auto n(15);
        border-radius: n(20);
        overflow: hidden;
        video{
            width: 100%;
            height:100%;
            border-radius: n(10);
        }
    }
    li{
        list-style: none;
        font-size: n(32);
        height: n(76);
        width: n(608);
        margin:  0 auto;
        line-height: n(76);
        color: #5e5e5e;
        border-bottom: 1px solid #e2e2e2;
        &:nth-of-type(6){
            border: none;
            padding-top: n(20);
            line-height: n(40);
            margin-bottom: n(20);
        }
        span{
            margin-left: n(10);
            &:nth-of-type(2){
                margin-left: n(80);
            }
        }
    }
    .pianshu{
        width: n(240);
        height: n(37);
        font-size: n(32);
        color: red;
        margin:  0 auto;
        font-weight: bold;
        img{
            width: n(33);
            height: 100%;
            float: left;
            margin-right: n(20);
        }
    }
    button{
        width: n(630);
        height: n(90);
        border: none;
        border-radius: n(60);
        font-size: n(32);
        color: #fff;
        background: red;
        margin-top: n(22);
        margin-left: n(50);
        outline: none;
        &:nth-of-type(2){
            border:1px solid #44c8c5;
            color: #44c8c5;
            background: #fff;
        }
    }
}
.alert_chenggong{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: n(12);
    display: none;
    z-index: 20;
    .cha{
        position: absolute;
        top: n(120);
        right: n(100);
        width: n(37);
        height: n(37);
        img{
            width: 100%;
            height: 100%;
        }
    }
    &>div{
        background: #fff;
        width: n(582);
        height: n(579);
        margin-top: n(170);
        margin-left: n(83);
        img{
            width: 100%;
            height: n(278);
            margin-top: n(62);
        }
        p{
            width: 100%;
            height: auto;
            text-align: center;
            font-size:n(30);
            color: #7a7a7a;
        }
        button{
            width: n(431);
            height: n(96);
            border:1px solid #44c8c5;
            font-size: n(37);
            color: #fff;
            background: #53d8d5;
            border-radius: n(60);
            margin-left: n(70);
            margin-top: n(49);
            outline: none;
        }
    }
}
.alert_shibai{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: n(12);
    display: none;
    z-index: 20;
    &>div{
        background: #fff;
        width: n(582);
        height: n(579);
        margin-top: n(170);
        margin-left: n(83);
        img{
            width: 100%;
            height: n(278);
            margin-top: n(62);
        }
        p{
            width: 100%;
            height: auto;
            text-align: center;
            font-size:n(30);
            color: #7a7a7a;
        }
        button{
            width: n(431);
            height: n(96);
            border:1px solid #44c8c5;
            font-size: n(37);
            color: #fff;
            background: #53d8d5;
            border-radius: n(60);
            margin-left: n(70);
            margin-top: n(49);
            outline: none;
        }
    }
}

